
body{
	margin: 0;
	padding: 0;
}

.my-img{
	width: 100px;
	margin: 10px 300px 0 10px;;
}

.nav{
	font-size:20px;
	color: white;
	background-color: cadetblue;
	 padding: 10px; 

}

.nav li{
	 display: inline-block;
	margin: 30px;

	/* transition: background-color 300s; */
}

.nav li:hover{
	background-color: black;
	cursor: pointer;

}

.wrapper{
width: 100%;
/* height: 400px; */
}

/* IMPLEMENT BACKGROUND IMAGE OVER HERE */

.bg{
padding: 0;
margin: 0;
	background-color: red;
}
.bg h2{
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font-size: 30px;
	background-color: black;
	padding: 10px;
	color: white;
	word-spacing: 5px;
}

.font{
	font-size: 20px;
	padding: 10px;
	font-family: sans-serif;
	word-wrap: break-word;
}

.grid-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 80%;
	margin: 0 auto;
	/* grid-row-gap: 10px; */
}

.img-div{
	width: 100%;
	text-align: center;

}

.img{
margin: 0 auto;
width: 200px;
}



.alignment{
	margin: 0 auto;
	width: 80%;
	align-items: center;
	margin-left: 100px;
}

.alignment input{
	padding: 10px;
	outline: none;
}



footer{
margin: 60px 0 0  0;
padding: 30px;
background-color: lightblue;
text-align: center;
}

.submit{
	width: 52%;
	margin: 15px auto;
}

input, textarea{
	margin: 0 auto;
	padding: 10px;
	display: block;
	outline: none;
	width: 50%;
	border: 1px solid cornflowerblue;

}

.submit{
	background-color: cornflowerblue;
	color: white;
	font-size: 20px;
	border: none;
	border-radius: 3px;
	
}

textarea{
	height: 80px;
}

.submit:hover{
	opacity: 0.6;
	cursor: pointer;
}


.error{
	width: 25%;
	margin: 0 auto;
	color: red;
	box-sizing: border-box;
	margin-left: 330px;
}
/* BELOWM IS THE MEDIA */
@media only screen and (max-width: 600px){
	body{
		/* background-color: green; */
		margin: 0;
		padding: 0;
	}

	.nav{
		width: 100%;
		font-size:20px;
		color: white;
		background-color: cadetblue;
		/* padding: 10px; */

	}

	.nav li{
		list-style: none;
		display: block;
		text-align: center;
		border: 1px solid black;
		padding: 10px;
	}

	.nav li:hover{
		background-color: black;
		cursor: pointer;
	}

.wrapper{
	width: 100%;
	/* height: 400px; */
}

/* IMPLEMENT BACKGROUND IMAGE OVER HERE */

.bg{
	padding: 0;
	margin: 0;
		/* background-color: red; */
}
	.bg h2{
		box-sizing: border-box;
		width: 100%;
		text-align: center;
		font-size: 30px;
		background-color: black;
		padding: 30px;
		color: white;
		word-spacing: 5px;

	}

	.font{
		font-size: 20px;
		padding: 10px;
		font-family: sans-serif;
		word-wrap: break-word;
	}

	.grid-container{
		display: grid;
		grid-template-columns: 1fr;
		width: 100%;
		/* grid-row-gap: 10px; */
	}

	.img-div{
		width: 100%;
		text-align: center;

	}

.img{
	margin: 80px auto;
	width: 400px;
	
}

footer{
	margin: 60px 0 0  0;
	padding: 30px;
	background-color: lightblue;
	text-align: center;
}
	
	
	.form{
		margin-top: 50px;
	}
	
	textarea{
		height: 200px;
		width: 54%;
	}
	
	.submit{
		width: 60%;
		margin-top: 20px;
	}
	
	span{
	box-sizing: border-box;
	width: 40%;
	margin: 0 auto;
	color: red;
	font-size: 12px;
}
	
	.error{
	width: 30%%;
	margin: 0 auto;
	color: red;
	box-sizing: border-box;
	margin-left: 200px;
}
	
	input{
		width: 55%;
	}

}
